<!--mainpage.ejs-->
<!-- Need to modifiy this map to milestone First Page-->
<button type="button" class="btn btn-default">Home</button>
<button type="button" class="btn btn-default">Search</button>
<button type="button" class="btn btn-default">Create</button>
<button type="button" class="btn btn-default">Admin</button>
<div class="jumbotron text-left">
    <h3>Event Management System</h3>
    <p>HKBU Event Management System is a web-based system for department and student societies to broadcase events and activities as well as registration</p>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>test</p>
        </div>
        <div class="col-sm-4">
            <p>test2</p>
        </div>
    </div>
</div>